@charset "UTF-8";

/* =========================================================
 VARIABLE
========================================================= */

$sans: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$fontColor: #4c4c4c;
$linkColor: #4c4c4c;
$siteWidth: 960px;
$mainColor: #006564;

/* =========================================================
 MIXIN
========================================================= */

/* ----- BREAK POINT ----- */

$breakpoints: (
  'sm': 340,
  'md': 768,
  'lg': 1024,
  'xl': 1200,
) !default;

@mixin mq($mq, $bp1: md, $bp2: lg) {

  $w1    : map-get($breakpoints, $bp1);
  $w2    : map-get($breakpoints, $bp2);
  $min1  : 'min-width: #{convert-em($w1)}';
  $min2  : 'min-width: #{convert-em($w1, 1)}';
  $max1  : 'max-width: #{convert-em($w1, 1)}';
  $max2  : 'max-width: #{convert-em($w2)}';

  @if $mq == min {
    @media screen and ($min1) {
      @content;
    }
  }
  @else if $mq == max {
    @media screen and ($max1) {
      @content;
    }
  }
  @else if $mq == min-max {
    @media screen and ($min2) and ($max2) {
      @content;
    }
  }
}

@function convert-em($width, $ge: 0) {
  @return '#{($width + $ge) / 16}em';
}

/* ----- PREFIX ----- */

$setPrefix: -webkit-,-ms-, '';

@mixin namePrefix($name, $value) {
  @each $prefix in $setPrefix {
    #{$prefix}#{$name}: $value;
  }
}

@mixin valuePrefix($name, $value) {
  @each $prefix in $setPrefix {
    #{$name}: #{$prefix}$value;
  }
}

/* ----- IE用アンチエイリアス ----- */
@mixin serif {
  font-family: $serif;
  -ms-transform: rotate(0.028deg);
}

/* ----- CLEARFIX ----- */
@mixin cf {
  %cf:after {
    display: block;
    clear: both;
    content: '';
  }
}

/* ----- LINK COLOR ----- */
@mixin linkColor($color) {
  a {
    text-decoration: none;
    color: $color;

    &:hover, &:active, &:focus {
      color: lighten($color, 40%);
    }

    &.fadeAlpha {
      color: $color;
    }

    img {
      border: none;
    }
  }
}

/* ----- HIDDEN TEXT ----- */
@mixin textHidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* ----- BACKGROUND HEIGHT ----- */
@mixin bgHeight($width, $height) {
  padding-top: ($height / $width * 100%);
}

/* ----- GRADATION ----- */
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == vertical {
    //: -moz-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(100%, $end-color));
    background: -webkit-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: -ms-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: linear-gradient(to bottom, $start-color 0%, $end-color 100%);
    -ms-filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#{$start-color}\', endColorstr=\'#{$end-color}\', GradientType=0)');
  }

  @else if $orientation == horizontal {
    //: -moz-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $start-color), color-stop(100%, $end-color));
    background: -webkit-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: -ms-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: linear-gradient(to right, $start-color 0%, $end-color 100%);
    -ms-filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#{$start-color}\', endColorstr=\'#{$end-color}\',GradientType=1)');
  }

  @else {
    //: -moz-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $start-color), color-stop(100%, $end-color));
    background: -webkit-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: -ms-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: radial-gradient(ellipse at center, $start-color 0%, $end-color 100%);
    -ms-filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#{$start-color}\', endColorstr=\'#{$end-color}\', GradientType=1)');
  }
}

/* =========================================================
 FUNCTION
========================================================= */
/*
  使用例
  margin: autoSpace(10, 1.6rem, 1.5);
          autoSpace(最終的に空いてほしい値, 要素のfont-size, 要素のline-height)
*/
@function autoSpace($num:0, $fz:14px, $lh:1.5){
  @if not ($num == 0 and $fz == '1.6rem' and $lh == 1.6){
    //px変換し、単位を除く値のみを取得
    $fz: ($fz / ((floor($fz) * 2) % 2 + 1)) * 10;
    @return $num - (($lh * $fz - $fz)/2) + px;
  } @else {
    @return $num + px;
  }
}
