@charset "UTF-8";

/* =========================================================
 VARIABLE
========================================================= */

$sans: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$fontColor: #4c4c4c;
$linkColor: #4c4c4c;
$siteWidth: 960px;
$mainColor: #006564;

$breakpoints: (
  'sm': 340,
  'md': 768,
  'lg': 1024,
  'xl': 1200,
) !default;

/* =========================================================
 MIXIN
========================================================= */

/* ----- BREAK POINT ----- */
@mixin mq($mq, $bp1: md, $bp2: lg) {

  $w1    : map-get($breakpoints, $bp1);
  $w2    : map-get($breakpoints, $bp2);
  $min1  : 'min-width: #{$w1 / 16}em';
  $min2  : 'min-width: #{($w1 + 1) / 16}em';
  $max1  : 'max-width: #{($w1 + 1) / 16}em';
  $max2  : 'max-width: #{($w2) / 16}em';

  @if $mq == min {
    @media screen and ($min1) {
      @content;
    }
  }
  @else if $mq == max {
    @media screen and ($max1) {
      @content;
    }
  }
  @else if $mq == min-max {
    @media screen and ($min2) and ($max2) {
      @content;
    }
  }
}

/* ----- IE用アンチエイリアス ----- */
@mixin serif {
  font-family: $serif;
  -ms-transform: rotate(0.028deg);
}

/* ----- CLEARFIX ----- */
@mixin cf {
  %cf:after {
    display: block;
    clear: both;
    content: '';
  }
}

/* ----- LINK COLOR ----- */
@mixin linkColor($color) {
  a {
    text-decoration: none;
    color: $color;

    &:hover, &:active, &:focus {
      color: lighten($color, 40%);
    }

    &.fadeAlpha {
      color: $color;
    }

    img {
      border: none;
    }
  }
}

/* ----- HIDDEN TEXT ----- */
@mixin textHidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* ----- FLEX ----- */
@mixin flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
      -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* ----- BACKGROUND HEIGHT ----- */
@mixin bgHeight($width, $height) {
  padding-top: ($height / $width * 100%);
}

/* ----- GRADATION ----- */
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == vertical {
    //: -moz-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(100%, $end-color));
    background: -webkit-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: -o-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: -ms-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: linear-gradient(to bottom, $start-color 0%, $end-color 100%);
    -ms-filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#{$start-color}\', endColorstr=\'#{$end-color}\', GradientType=0)');
  }

  @else if $orientation == horizontal {
    //: -moz-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $start-color), color-stop(100%, $end-color));
    background: -webkit-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: -o-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: -ms-linear-gradient(left, $start-color 0%, $end-color 100%);
    background: linear-gradient(to right, $start-color 0%, $end-color 100%);
    -ms-filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#{$start-color}\', endColorstr=\'#{$end-color}\',GradientType=1)');
  }

  @else {
    //: -moz-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $start-color), color-stop(100%, $end-color));
    background: -webkit-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: -o-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: -ms-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
    background: radial-gradient(ellipse at center, $start-color 0%, $end-color 100%);
    -ms-filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#{$start-color}\', endColorstr=\'#{$end-color}\', GradientType=1)');
  }
}
