@charset "UTF-8";
@import "_vars.scss";
/* =========================================================
 DEFAULT STYLE
========================================================= */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-family: $sans;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  color: $fontColor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

form label {
  cursor: pointer;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

@include linkColor($linkColor);

// 商品リンク用リセット
// a[href^="x-apple-data-detectors://"] {
//   display: inline;
//   pointer-events: none;
// }

.fadeAlpha {
  &.over * {
    opacity: .7;
  }

  &.out * {
    opacity: 1;
    transition: opacity .2s ease-in;
  }
}

//このエリアはサンプルです。削除してください
//
// PREFIX
// div{
//   @include valuePrefix(display,flex);
// }
//
// CLEARFIX
// .example{
//   @extend %cf;
// }

/* =========================================================
 CLEARFIX
========================================================= */
@include cf;

/* =========================================================
 HELPER
========================================================= */
.is-pc {
  @include mq('max') {
    display: none;
  }
}

.is-sp {
  display: none;
  @include mq('max') {
    display: block;
  }
}
